/node_modules
/public/.htaccess
/public/hot
!/public/vtour/tiles
/public/vtour/tiles/*
/public/storage
/storage/*.key
/vendor
/public
# .env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tpbk.code-workspace

*copy*
webhook_log.txt
logfile.log
listofuser.txt
git_pull.sh
git_pull.bat
git_pull_log.txt
composer.lock
composer.json
.env
composer.lock
composer.json
vendor/autoload.php
storage/framework/laravel-excel/laravel-excel-BVAXtQb7U8TreTTaSUxTrD3UgGWPosPO.tmp
storage/framework/laravel-excel/laravel-excel-MP5bOJsxixvHZqQl19kXWPaUaxyudeET.tmp
storage/framework/laravel-excel/laravel-excel-nWYnp7BjmHz975qtyqi9vrXu5LZFJlZ4.tmp
.vscode/settings.json
