.wpx-1 { width:1px;!important }
.wpx-2 { width:2px;!important }
.wpx-3 { width:3px;!important }
.wpx-4 { width:4px;!important }
.wpx-5 { width:5px;!important }
.wpx-10 { width:10px;!important }
.wpx-15 { width:15px;!important }
.wpx-20 { width:20px;!important }
.wpx-25 { width:25px;!important }
.wpx-30 { width:30px;!important }
.wpx-35 { width:35px;!important }
.wpx-40 { width:40px;!important }
.wpx-45 { width:45px;!important }
.wpx-50 { width:50px;!important }
.wpx-55 { width:55px;!important }
.wpx-60 { width:60px;!important }
.wpx-65 { width:65px;!important }
.wpx-70 { width:70px;!important }
.wpx-75 { width:75px;!important }
.wpx-80 { width:80px;!important }
.wpx-85 { width:85px;!important }
.wpx-90 { width:90px;!important }
.wpx-95 { width:95px;!important }
.wpx-100 { width:100px;!important }
.wpx-150 { width:150px;!important }
.wpx-200 { width:200px;!important }
.wpx-250 { width:250px;!important }
.wpx-300 { width:300px;!important }
.wpx-350 { width:350px;!important }
.wpx-400 { width:400px;!important }
.wpx-450 { width:450px;!important }
.wpx-500 { width:500px;!important }
.wpx-550 { width:550px;!important }
.wpx-600 { width:600px;!important }
.wpx-650 { width:650px;!important }
.wpx-700 { width:700px;!important }
.wpx-750 { width:750px;!important }
.wpx-800 { width:800px;!important }
.wpx-850 { width:850px;!important }
.wpx-900 { width:900px;!important }
.wpx-950 { width:950px;!important }
.wpx-1000 { width:1000px;!important }
